@forward "abstracts";
@forward "base";

@forward "components/person/actions";
@forward "components/person/content";
@forward "components/person/description";
@forward "components/person/family";
@forward "components/person/links";
@forward "components/popup";

@forward "layout";
