@forward "base";
@forward "components/card";
@forward "components/social-network";
@forward "components/sponsor-content";
@forward "components/sponsor-description";
@forward "components/popup";
@forward "layout";

main {
  justify-content: center;
  gap: 15px;
}
