<div class="about-card about-card__banner">

	<img class="card__picture" src="{{ picture(picture) }}" alt="photo">

	<div class="about-card__profil">
		<span class="about-card__first-name">{{ firstName }}</span>
		<span class="about-card__last-name">{{ lastName }}</span>
	</div>

</div>