<div class="aboutcard aboutcard__banner">
	{% if picture != null %}
		<img class="card__picture" src={{picture(picture)}} alt="photo">
	{% endif %}

	<div class="aboutcard__profil">
		<span class="aboutcard__first-name">{{ firstName }}</span>
		<span class="aboutcard__last-name">{{ lastName }}</span>
	</div>
</div>