<section class="carousel">
	<div class="carousel__slider">

		{% for person in people %}
			{% include 'components/card.twig' with {
				'firstName': person.FirstName,
				'lastName': person.LastName,
				}
			%}
		{% endfor %}

	</div>
</section>