<section class="carousel">

	{% include 'components/card.twig' with {
		'description': 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga totam aut sequi magni, eligendi excepturi ea optio quae numquam voluptatem ab itaque quidem culpa ipsam deserunt architecto atque est harum.',
	} %}

	{% include 'components/card.twig' with {
		'description': 'Eligendi excepturi ea optio quae numquam voluptatem ab itaque quidem culpa ipsam deserunt architecto atque est harum.',
	} %}

	{% include 'components/card.twig' with {
		'description': 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga totam aut sequi magni, eligendi excepturi ea optio quae numquam voluptatem ab itaque quidem culpa ipsam.',
	} %}

</section>