<section class="navbar">
	<div class="navbar__searchbar">
		<img src="{{icon('magnifier.svg')}}" alt="loupe" class="navbar__icon">
		</div>
	</div>

	{% include('components/spinner.twig') %}

	<div class="navbar__filter">
		<img src="{{icon('gear.svg')}}" alt="parametres" class="navbar__icon">
	</div>
</section>