<div class="error-popup {% if message is not empty %}error-popup--visible{% endif %}">
	<p class="error-popup__content">{{ message | raw }}</p>
	<div class="error-popup__close-button">
		<p>&times;</p>
	</div>
</div>