<div class="error-popup {% if message is not empty %}error-popup--visible{% endif %}">
	<div class="error-popup__content">
		{% if message is not empty %}
			<p>{{ message | raw }}</p>
		{% endif %}
		
	</div>
	<img class="error-popup__close-button" src="{{icon('cancel.svg')}}">
</div>