<div class="edit-picture">

	<div class="edit-picture__preview">
		<img class="edit-picture__preview__picture" src="{{picture(person.picture)}}" alt="image">
	</div>

	<hr>

	<div class="edit-picture__form">
		<h2>
			Choisissez une image
		</h2>
		
		<p>
			Cette image sera utilisée pour représenter votre profil sur le site.
		</p>

		<input type="file" name="picture" id="img-uploader" accept="image/*">
		<label for="img-uploader" class="btn btn--secondary">Sélectionner une image</label>
	</div>

	<button class="edit-picture__close">
		Fermer
	</button>
</div>