<div class="spinner">

	<div class="spinner__selector">
		<img src="{{icon('up.svg')}}" alt="up" class="spinner__up">
		<img src="{{icon('down.svg')}}" alt="down" class="spinner__down">
	</div>

	<div class="spinner__container-date">
		<span class="spinner__dates spinner__dates--start">
			2021
		</span> 
		
		<span class="spinner__dates spinner__dates--end">
			2022
		</span>
	</div>

</div>