<div class="spinner">

	<div class="spinner__selector">
		<img src="{{icon('up.svg')}}" alt="up">
		<img src="{{icon('down.svg')}}" alt="down">
	</div>

	<div class="dates">
		2021 <strong>2022</strong>
	</div>

</div>