{% set trans_day_hash = {
    "January": "janvier",
    "February": "février",
    "March": "mars",
    "April": "avril",
    "May": "mai",
    "June": "juin",
    "July": "juillet",
    "August": "août",
    "September": "septembre",
    "October": "octobre",
    "November": "novembre",
    "December": "décembre"
} %}

<div class="sponsor__content">

    {% include 'components/card.twig' with {
        'id': godFather.id,
        'color': godFather.color,
        'firstName': godFather.firstName,
        'lastName': godFather.lastName,
        'picture': godFather.picture,
        'characteristics': godFather.characteristics,
        'description': godFather.biography,
        'startYear': godFather.startYear,
    } %}

    <div class="sponsor__content-link">
        <p class="sponsor__content-link-date">
            {{ sponsor.formatDate('j') }} {{ trans_day_hash[sponsor.formatDate('F')] }} {{ sponsor.formatDate('Y') }}
        </p>
        <div class="sponsor__content-link-line">
            <img src="{{ icon(sponsor.icon) }}" alt="icon" class="sponsor__content-link-icon">
        </div>
    </div>

    {% include 'components/card.twig' with {
        'id': godChild.id,
        'color': godChild.color,
        'firstName': godChild.firstName,
        'lastName': godChild.lastName,
        'picture': godChild.picture,
        'characteristics': godChild.characteristics,
        'description': godChild.biography,
        'startYear': godChild.startYear,
    } %}

</div>