@use "../abstracts/mixins" as m;
@use "../abstracts/functions" as f;
@use "../abstracts/breakpoints" as b;

.legal-notice {
  width: 90%;
  @include m.flex();
  gap: f.rem(50);

  &__header {
    @include m.flex($direction: row, $justify: space-around, $align: flex-start);
    gap: inherit;
    width: min(90%, f.rem(1400));

    article {
      width: 40%;

      pre {
        text-align: right;
      }

      hr {
        width: 2px;
        height: 100px;
        border-radius: 1px;
        background-color: var(--dark-blue);
      }

      @include b.breakpoint(small) {
        width: 100%;
      }
    }

    @include b.breakpoint(small) {
      flex-direction: column;
    }
  }

  &__content {
    @include m.flex($direction: row);
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    gap: inherit;

    article {
      width: min(100%, f.rem(400));
      @include m.flex($justify: flex-start);
      gap: f.rem(10);
      text-align: justify;
      text-align-last: center;
      padding: f.rem(20);

      h2 {
        font-size: f.rem(20);
        font-weight: 700;
        color: var(--dark-blue);
        height: f.rem(50);

        @include b.breakpoint(small) {
          height: fit-content;
        }
      }

      hr {
        width: 100px;
        height: 2px;
        border-radius: 1px;
        background-color: var(--dark-blue);
        border: 0;
      }

      &:hover hr {
        background-color: var(--light-blue);
      }
    }
  }

}