<nav class="navbar">
    <a href="{{ router.url('tree') }}">Découvrir ma famille</a>
    <a href="#">Découvrir mon école</a>
    <a href="{{ router.url('contact_get') }}">Contact</a>
    <a href="{{ router.url('about') }}">A propos du projet</a>
</nav>