<nav class="navbar">
    <a href="{{ router.url('tree') }}">Découvrir ma famille</a>
    <a href="#">Découvrir mon école</a>
    <a href="#">Ajouter mon école</a>
    <a href="#">A propos du projet</a>
</nav>