<nav class="navbar">
    <a href="{{ router.url('tree') }}">Découvrir ma famille</a>
    <a href="{{ router.url('contact_get') }}">Contact</a>
    <a href="{{ router.url('about') }}">À propos du projet</a>
</nav>