{% extends '/old/view/layouts/default.twig' %}

{% set style = style('home.css') %}
{% set title = 'Parraindex' %}

{% block content %}

    <img class="logo" src="{{ icon('logo-blue.svg') }}" alt="Logo">

    <a class="title" href="{{ router.url('tree') }}">
        <h1 class="title__text"><span class="title__prefix">Le</span> Parraindex</h1>
        <p class="title__subtext">
            L'annuaire des parrains de l'IUT Lyon 1
        </p>
    </a>

    {% include '/old/view/templates/navbar.twig' %}

{% endblock %}
