{% extends 'layouts/base.html.twig' %}

{% set style = asset('styles/login.scss') %}
{% set title = 'Parraindex - Réinitialisez votre mot de passe' %}

{% block javascripts %}
    {{  importmap(['common', 'popupInitialize']) }}
{% endblock %}

{% block content %}

    <form class="form" action="{{ url("forgot_password_request") }}" method="post">

        <h1 class="form__title">Réinitialisez votre mot de passe</h1>

        <div class="form-content">
            {% include "components/form/input.html.twig" with {
                'type': 'email',
                'slug': field_name(form.email),
                'title': 'Email',
                'placeholder': 'john.doe@etu.univ-lyon1.fr',
                'pattern' : '^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$',
                'classes': '',
                'value': '',
                'readonly': false,
            } %}

            <div class="form-block form-block--row form-block--space-around">
                {% include "components/button.html.twig" with {
                    'type': 'submit',
                    'button_content': 'Envoyer un email de réinitialisation',
                    'priority': 'primary',
                    'name': 'action',
                    'value': 'login',
                    'classes': '',
                    'value': '',
                    'readonly': false,
                } %}
            </div>

        </div>

    </form>

{% endblock %}