@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;1,100;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&display=swap");
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 1rem;
  width: 100vw;
  width: 100dvw;
  min-width: 350px;
  min-height: 100vh;
  min-height: 100dvh;
  box-sizing: border-box;
  font-family: "lato", Helvetica, sans-serif;
  background-color: var(--white);
  color: var(--dark-blue);
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

select {
  background-color: white;
}

h1,
h2,
h3 {
  font-weight: 700;
  line-height: 1.1;
  margin: 0;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 0.09375rem;
  text-align: center;
}

a,
a:visited,
a:active {
  text-decoration: none;
  color: inherit;
}

i {
  font-style: normal;
  color: var(--dark-grey);
  font-size: 0.625rem;
}

p {
  margin: 0;
}

:root {
  --dark-blue: hsl(216, 48%, 14%);
  --light-grey: hsl(0, 0%, 94%);
  --grey: hsl(0, 0%, 85%);
  --dark-grey: hsl(0, 0%, 54%);
  --white: hsl(0, 0%, 100%);
  --light-red: hsl(0, 100%, 94%);
  --dark-red: hsl(0, 100%, 54%);
}

.btn {
  border: 0;
  border-radius: 1.875rem;
  padding: 0.9375rem 1.5625rem;
  margin: 0.625rem 0;
}
.btn--primary {
  background-color: var(--dark-blue);
  color: var(--white);
}
.btn--secondary {
  border: 1px solid var(--dark-blue);
  background-color: var(--white);
  color: var(--dark-blue);
}
.btn:hover {
  cursor: pointer;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.4375rem;
  margin: 4.375rem 0;
  user-select: none;
  position: relative;
  min-width: max-content;
  height: min(40vh, 21.875rem);
  min-height: 13.125rem;
  aspect-ratio: 27/40;
  background-color: var(--white);
  box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 24px;
  padding-bottom: 1.5625rem;
  border-radius: 2.1875rem;
  overflow: hidden;
  transition: all 200ms ease-in-out;
}
.card__profil {
  font-size: 1.5rem;
  text-align: center;
  padding: 0 5%;
}
.card__last-name {
  text-transform: uppercase;
  white-space: nowrap;
  font-weight: 700;
}
.card__banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 33%;
  width: 100%;
  background-color: var(--light-grey);
}
.card__social-network {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  margin: 0.3125rem 0;
}
.card__picture {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 24px;
}
.card__description {
  padding: 0 2.5rem;
  margin: 0;
  font-size: 0.875rem;
  height: 100%;
  overflow: hidden;
  text-align: justify;
  flex-grow: 1;
}
.card::after {
  content: "";
  position: absolute;
  bottom: 0.75rem;
  height: 0.25rem;
  width: 2.5rem;
  border-radius: 0.125rem;
  background-color: var(--dark-blue);
}
.card--middle {
  scale: 1.2;
  margin: 0;
}

.carousel {
  position: relative;
  width: 80vw;
}
.carousel__slider {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  padding: 0 45%;
  gap: 6.25rem;
  overflow-x: hidden;
}
.carousel::after, .carousel::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 2.5rem;
  height: 100%;
  background: linear-gradient(to right, transparent 0%, var(--white) 100%);
  z-index: 1;
}
.carousel::before {
  left: 0;
  background: linear-gradient(to left, transparent 0%, var(--white) 100%);
}

.scrollbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.scrollbar__cursor {
  width: 70%;
  appearance: none;
  background: var(--light-grey);
  height: 0.5rem;
  border-radius: 20px;
}
.scrollbar__cursor::-webkit-slider-runnable-track {
  cursor: pointer;
  height: 0.5rem;
  background: var(--light-grey);
  border-radius: 0.25rem;
}
.scrollbar__cursor::-moz-range-thumb {
  width: 1.25rem;
  height: 1.25rem;
  background: var(--dark-grey);
  border-radius: 50%;
  border: 0;
}
.scrollbar__cursor::-webkit-slider-thumb {
  -webkit-appearance: none;
  position: relative;
  width: 1.25rem;
  height: 1.25rem;
  background: var(--dark-grey);
  border-radius: 50%;
  top: -50%;
}

.social-network {
  width: 1.25rem;
  aspect-ratio: 1/1;
  background-color: var(--dark-blue);
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.social-network__icon {
  width: 50%;
}

.error-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.625rem;
  position: relative;
  text-align: center;
  color: var(--dark-blue);
  text-shadow: rgba(149, 157, 165, 0.7) 0 2px 3px;
}
.error-block__background {
  position: absolute;
  z-index: -1;
}
.error-block__title {
  letter-spacing: 0.125rem;
  font-size: 6vh;
  font-weight: 400;
}
.error-block__message {
  letter-spacing: 0.25rem;
  font-size: 5vh;
  font-weight: 100;
}

.form {
  width: max(70vw, 15.625rem);
  height: max-content;
  box-sizing: border-box;
  max-width: 56.25rem;
  border-radius: 2.5rem;
  padding: 0.625rem 0.3125rem;
  gap: 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 24px;
}
.form-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: min(70%, 90vw);
  gap: 0.625rem;
}
.form-block {
  width: 100%;
}
.form-block--row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1.25rem;
}
@media (max-width: 43.75em) {
  .form-block--row {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 0.625rem;
  }
}
.form__element {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  gap: 0.125rem;
}
.form__element-input {
  height: 2.5rem;
  width: 100%;
  padding: 0 1.25rem;
  box-sizing: border-box;
  border-radius: 1.25rem;
  border: var(--light-grey) solid 1px;
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2);
}
.form__element-input-textarea {
  padding-top: 0.9375rem;
  height: 6.25rem;
  resize: none;
  font-family: inherit;
}
.form__element-label {
  box-sizing: border-box;
  width: 100%;
  padding: 0 0.625rem;
  font-weight: 700;
}
.form__element--invalid {
  border: var(--dark-red) solid 1px;
}

.error-popup {
  position: absolute;
  top: 3.125rem;
  left: -1000px;
  background: var(--light-red);
  padding: 0.625rem;
  gap: 0.625rem;
  border-radius: 0.3125rem;
  transition: all 0.8s ease-in-out;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-left: var(--dark-red) 5px solid;
}
.error-popup--visible {
  left: 1.25rem;
}
.error-popup__close-button {
  width: 1.25rem;
  height: 1.25rem;
}
.error-popup__close-button:hover {
  cursor: pointer;
}

.title {
  text-align: center;
  font-size: min(4.375rem, 6vw);
  text-transform: uppercase;
  color: var(--dark-grey);
  font-weight: 400;
  letter-spacing: 15px;
  margin: 0;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
}
.header__login {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
  flex-wrap: wrap;
}
.header__login a {
  text-align: end;
  font-size: 2.5vh;
  cursor: pointer;
  white-space: nowrap;
  color: var(--dark-grey);
  font-weight: 200;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 2.5rem;
}

nav div {
  width: 70%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 1rem 5%;
  flex-wrap: wrap;
}

nav div a {
  font-size: 2.5vh;
  cursor: pointer;
  white-space: nowrap;
  color: var(--dark-grey);
  font-weight: 200;
}

main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

/*# sourceMappingURL=home.css.map */
