@use "../../abstracts/functions" as f;
@use "../../abstracts/mixins" as m;

.person-content {
	width: 100%;
	padding-left: 5%;
	padding-right: 5%;

	&__description {
		@include m.flex(center, center, row);
	}

}

main {
	flex-direction: row;
}