@use "../../abstracts/functions" as f;
@use "../../abstracts/mixins" as m;
@use "../../abstracts/breakpoints" as b;

.person-description {
  width: min(90%, 60ch);
  @include m.flex(center, space-between, column);
  gap: f.rem(50);

  @include b.breakpoint(medium) {
    width: 80%;
  }

  &__header {

    @include m.flex(center, space-between, row);
    gap: f.rem(16);
    flex-wrap: wrap;

    width: 100%;
    letter-spacing: f.rem(2);
    font-size: f.rem(25);

    @include b.breakpoint(medium) {
      width: 90%;
      justify-content: center;
    }

    &-name {
      color: var(--medium-grey);
    }

    &-year {
      color: var(--medium-grey);
    }

    &--darker {
      margin-left: f.rem(3);
      color: var(--dark-blue);
      text-transform: uppercase;
    }
  }

  &__biography {

    @include m.flex();
    gap: f.rem(16);

    text-indent: 10%;
    text-align: justify;
    letter-spacing: f.rem(0.5);
    width: 100%;

    &-title {
      text-indent: 0;
      text-transform: uppercase;
      letter-spacing: f.rem(2);
      text-align: left;
    }

    p {
      width: 100%;
    }
  }

}