@use "../../abstracts/functions" as f;
@use "../../abstracts/mixins" as m;
@use "../../abstracts/breakpoints" as b;

.person-description {
	width: 50%;

	@include b.breakpoint(medium) {
		width: 80%;
		margin: f.rem(50) 0 f.rem(20);
	}

	&__header {

		@include m.flex(center, space-between, row);
		letter-spacing: f.rem(2);
		font-size: f.rem(25);
		margin-bottom: f.rem(70);

		@include b.breakpoint(medium) {
			font-size: f.rem(20);
			@include m.flex(flex-start, center, column);
			margin-bottom: f.rem(20);
		}

		&-name {
			color: var(--medium-grey);
		}

		&-year {
			color: var(--medium-grey);
		}

		&--darker {
			margin-left: f.rem(3);
			color: var(--dark-blue);
			text-transform: uppercase;
		}

	}

	&__biography {

		text-indent: 10%;
		margin: 0 f.rem(25);
		text-align: justify;
		letter-spacing: f.rem(0.5);

		@include b.breakpoint(medium) {
			margin: 0;
		}

		&-title {
			text-indent: 0;
			text-transform: uppercase;
			margin-bottom: f.rem(30);
			letter-spacing: f.rem(2);
			text-align: left;
		}

	}

}