@use "../../abstracts/functions" as f;
@use "../../abstracts/mixins" as m;

.person-family {

	flex-grow: 1;
	height: 100%;

	margin: auto;

	&__wrapper {
		width: 90%;
		height: 90%;
		border-radius: 50%;
		border: solid 1px var(--medium-grey);
	}

}