@use "../../abstracts/functions" as f;
@use "../../abstracts/mixins" as m;

.person-family {
	flex-grow: 1;
	@include m.flex();

	&__wrapper {
		@include m.flex();
		width: 90%;
		aspect-ratio: 1/1;
		border-radius: 50%;
		border: solid 1px var(--medium-grey);
	}

}