@use "../../abstracts/functions" as f;
@use "../../abstracts/mixins" as m;
@use "../../abstracts/breakpoints" as b;

.person-family {
	flex-grow: 1;
	@include m.flex();

	@include b.breakpoint(medium) {
		width: 90%;
		margin: f.rem(20) 0;
	}

	&__title {
		margin: 0 0 f.rem(50);
		text-align: center;
		color: var(--medium-grey);
		text-transform: uppercase;
		letter-spacing: f.rem(5);

		@include b.breakpoint(medium) {
			margin: 0 0 f.rem(40);
		}

		&--second {
			margin: f.rem(50) 0 0;

			@include b.breakpoint(medium) {
				margin: f.rem(40) 0 0;
			}

		}

	}

	&__wrapper {
		@include m.flex();
		width: 60%;
		aspect-ratio: 1/1;
		border-radius: 50%;
		border: solid 1px var(--medium-grey);
		position: relative;

		&:after {
			content: "";
			position: absolute;
			top: 50%;
			left: 0;
			width: 100%;
			border-bottom: dashed 3px var(--light-grey);
			z-index: -1;
		}

	}

	&__portrait {

		@include m.flex(center, center, column);
		width: f.rem(80);
		height: f.rem(80);
		position: relative;

		@include b.breakpoint(medium) {
			width: f.rem(50);
			height: f.rem(50);
		}

		&--godfather, &--godchild {
			position: absolute;
		}

		&-image {
			height: 100%;
			border-radius: 50%;
			object-fit: cover;
			border: solid 0.5px var(--medium-grey);
			opacity: 1;
			transition: opacity .5s;
		}

		&:hover .person-family__portrait-image {
			opacity: 0.1;
		}

		&-name {
			position: absolute;
			opacity: 0;
			transition: opacity .5s;
			font-size: f.rem(20);
			text-align: center;
			text-transform: capitalize;
			color: var(--dark-blue);
			z-index: 10;


		}

		&:hover .person-family__portrait-name {
			opacity: 1;
		}

	}

}
