@use "../abstracts/mixins" as m;
@use "../abstracts/functions" as f;
@use "../abstracts/breakpoints" as b;

.header {

	@include m.flex(center, space-between, row);
	flex-wrap: wrap;
	width: 95%;
	gap: f.rem(20) 0;

	margin-top: 3vh;

	@include b.breakpoint(small) {
		@include m.flex(center, center, column);
	}

	&__logo {
		height: f.rem(35);
		width: f.rem(35);
	}

	&__title {
		@include m.flex(center, center, row);
		gap: f.rem(20);

		font-size: f.rem(22);
		text-transform: uppercase;

		color: var(--dark-grey);
		font-weight: 300;
		letter-spacing: 5px;

		&--hidden {
			display: none;
		}

	}

	&__login {

		@include m.flex($direction: row, $justify: flex-end);
		gap: f.rem(35);
		flex-wrap: wrap;
		flex-grow: 1;

		&-link {
			transition: color 0.3s ease;

			text-align: end;
			font-size: f.rem(22);
			font-weight: 300;
			color: var(--dark-grey);
			white-space: nowrap;

			&:hover {
				color: var(--dark-blue);
			}
		}

	}

}