//navbar for all pages

//import mixins and function method

@use "../abstracts/functions" as f;
@use "../abstracts/mixins" as m;

//set a flex method for center the content in the page
nav {
  @include m.flex(center, space-around, row);
  margin-bottom: f.rem(40); //separate the navbar and the border
}

nav div {
  width: 70%; //set the width of the navbar
  @include m.flex(center, space-around, row); //set a flex method

}

nav div a {
  font-size: 2.5vh; //set the font size
  cursor: pointer; //set the cursor to pointer
}