@use "../abstracts/functions" as f;
@use "../abstracts/mixins" as m;

nav{
  @include m.flex(center, space-around, row);
  margin-bottom: f.rem(20);
}

nav div {
  width: 70%;
  @include m.flex(center, space-around, row);

}

nav div a{
  margin: f.rem(20);
  font-size: 2.5vh;
  cursor: pointer;
}