@use "../abstracts/functions" as f;
@use "../abstracts/mixins" as m;
@use "../abstracts/breakpoints" as b;

.about-card {

	@include m.flex();
	width: 10%;
	min-width: f.rem(200);
	height: f.rem(170);

	&__picture {
		@include m.hard-box-shadow();
		border-radius: 50%;
	}

	&__profil {
		@include m.hard-box-shadow();
		font-size: f.rem(20);
		text-align: center;
		padding: f.rem(5) f.rem(30);
		margin-top: f.rem(10);
		border-radius: f.rem(35);
		color: var(--medium-grey);
	}

	&__last-name {
		text-transform: uppercase;
		color: var(--dark-blue);
	}

}
