@use "../abstracts/functions" as f;

.btn{
  border: 0;
  border-radius: f.rem(30);
  padding: f.rem(15) f.rem(25);
  margin: f.rem(10) 0;
  text-align: center;

  &--primary {
	background-color: var(--dark-blue);
	color: var(--white);
  }

  &--secondary {
	border: 1px solid var(--dark-blue);
	background-color: var(--white);
	color: var(--dark-blue);
  }

	&--danger {
		background-color: var(--dark-red);
		color: var(--white);
	}

  &:hover {
	cursor: pointer;
  }

}