@use "../abstracts/mixins" as m;
@use "../abstracts/functions" as f;
@use "../abstracts/breakpoints" as b;

.navbar {
  $resize: f.rem(200);
  $size: f.rem(250);

  width: $size;
  height: f.rem(70);
  box-sizing: border-box;

  padding: f.rem(5) f.rem(20);
  margin: 0 $resize;

  border-radius: f.rem(40);
  transition: all 0.7s;

  @include m.hard-box-shadow();
  @include m.flex($direction: row, $justify: space-between);

  gap: f.rem(16);

  &__icon {
    z-index: 1;
    height: f.rem(20);
    aspect-ratio: 1/1;

    @include b.breakpoint(small) {
      display: none;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &__searchbar--open {
    width: calc($size + $resize);
    margin-right: $resize;
    margin-left: 0;

    @include b.breakpoint(small) {
      width: 90%;
      margin: 0;
    }
  }

  &__filter--open {
    width: calc($size + $resize);
    margin-left: $resize;
    margin-right: 0;

    @include b.breakpoint(small) {
      width: 90%;
      margin: 0;
    }
  }

  &__searchbar--open:is(&__filter--open) {
    width: calc($size + calc($resize * 2));
    margin: 0;

    @include b.breakpoint(small) {
      width: 90%;
      margin: 0;
    }
  }

  .searchbar,
  .filter {
    @include m.flex($direction: row, $justify: center);
    width: 0px;
    overflow: hidden;
    box-sizing: border-box;

    animation-name: inputClosing;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;

    &--open {
      animation-name: inputOpening;
    }

    @include b.breakpoint(small) {
      width: 80%;
      animation: 0;
    }
  }

  
  .filter {
    @include b.breakpoint(small){
      width: auto;
      order: -1;
    }
  }

  .searchbar {
    input {
      border: 1px solid var(--dark-blue);
      border-radius: f.rem(30);
      padding-left: f.rem(10);
      height: f.rem(37);
      width: 90%;

      @include b.breakpoint(small) {
        box-sizing: border-box;
        width: f.rem(154);
        height: f.rem(47.5);
        &::placeholder {
          text-transform: Uppercase;
          text-align: center;
          color: var(--dark-blue);
        }
      }
    }

    @include b.breakpoint(small){
      width: auto;
    }

    input:focus {
      outline: none;
      border-width: 2px;
    }
  }

  @include b.breakpoint(small) {
    gap: f.rem(5) f.rem(10);
    box-shadow: none;
    width: 90%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: max-content;
    padding: f.rem(10) 0;
  }

  @keyframes inputOpening {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }

  @keyframes inputClosing {
    from {
      width: 100%;
    }
    to {
      width: 0;
    }
  }

}
