@use "../abstracts/mixins" as m;
@use "../abstracts/functions" as f;

.navbar{
	$resize : f.rem(200);
	$size : f.rem(250);

	width: $size;
	height: f.rem(70);
	box-sizing: border-box;

	padding: f.rem(5) f.rem(20);
	margin: 0 $resize;

	border-radius: f.rem(40);
	transition: all 0.7s;

	@include m.hard-box-shadow();
	@include m.flex($direction: row, $justify: space-between);	

	gap: f.rem(16);

	&__icon{
		z-index: 1;
		height: 35%;
		aspect-ratio: 1/1;
	}

	&__searchbar--open{
		width: calc($size + $resize);
		margin-right: $resize;
		margin-left: 0;
	}

	&__filter--open{
		width: calc($size + $resize);
		margin-left: $resize;
		margin-right: 0;
	}
	&__searchbar--open:is(&__filter--open){
		width: calc($size + calc($resize * 2));
		margin: 0;
	}

	.searchbar,
	.filter{
		width: 0px;
		overflow: hidden;
		box-sizing: border-box;

		animation-name: inputClosing;
		animation-duration: 0.7s;
		animation-fill-mode: forwards;

		&--open{
			animation-name: inputOpening;
		}
	}

	.filter{
		@include m.flex($direction: row, $justify: center);
	}

	.searchbar{
		input{
			border: 1px solid var(--dark-blue);
			border-radius: f.rem(16);
			padding-left: f.rem(10);
			height: f.rem(20);
			width: 90%;
		}
		input:focus{
			outline: none;
			border-width: 2px;
		}
	}

	@keyframes inputOpening {
		from { width: 0; }
		to { width: 100%; }
	}

	@keyframes inputClosing {
		from { width: 100%; }
		to { width: 0; }
	}

}