@use "../abstracts/mixins" as m;
@use "../abstracts/functions" as f;

.navbar{
	width: f.rem(320);
	height: f.rem(70);

	padding: f.rem(5) f.rem(10);

	border-radius: f.rem(40);
	transition: all 0.3s ease;

	@include m.hard-box-shadow();
	@include m.flex($direction: row);
	gap: f.rem(5);

	position: relative;

	&__icon{
		height: 35%;
		aspect-ratio: 1/1;
	}

	&__searchbar,
	&__filter{
		height: 100%;
		aspect-ratio: 1/1;
		@include m.flex($direction: row);

		&--open{
			width: calc(f.rem(320) + f.rem(100));
		}
	}

	&__searchbar{
		&--open{
			margin-right: f.rem(100);
		}
	}

	&__filter{
		&--open{
			margin-left: f.rem(100);
		}
	}

	&__input{
		border: 1px solid var(--dark-blue);
		border-radius: f.rem(15);
		@include m.inside-shadow();
		padding-left: f.rem(10);
		height: f.rem(20);
	}

	&__filters{
		@include m.flex($direction: row, $justify: space-between);
		gap: f.rem(10);
		height: 100%;
	}

	// Animations

	input{
		&.open{
			animation: inputOpening .3s forwards;
		
			@keyframes inputOpening {
				from { width: 0; }
				to { width: 100%; }
			}
		}
		
		&.close{
			animation: inputClosing .3s forwards;

			@keyframes inputClosing {
				from { width: 100%; }
				to { width: 0; }
			}
		}
	}

	button{
		&.open{	
			animation: buttonOpening .3s forwards;
		
			@keyframes buttonOpening {
				from {
					padding-left:  0px;
					padding-right: 0px;
					border-radius: 0px;
				}
				to{}
			}
		}
		
		&.close{
			animation: closing .3s forwards;

			@keyframes closing {
				from {}
				to {
					padding: 0px 0px;
					border-radius: 0px;
				}
			}
		}
	}

}