@use "../abstracts/functions" as f;
@use "../abstracts/mixins" as m;
@use "../abstracts/breakpoints" as b;

.card {
  @include m.flex();
  gap: f.rem(7);
  margin: 25px 10px;

  user-select: none;
  -webkit-pointer-events: none;
  scale: 0.8;

  position: relative;
  width: 240px;
  text-align: center;

  height: min(40vh, f.rem(350));
  min-height: f.rem(210);

  aspect-ratio: 27/40;

  background-color: var(--white);
  @include m.hard-box-shadow();

  padding-bottom: f.rem(25);
  border-radius: f.rem(35);
  transition: all 200ms ease-in-out;

  &__profil {
    font-size: f.rem(24);
    text-align: center;
    width: 90%;
    box-sizing: border-box;
    overflow-wrap: break-word;
  }

  &__last-name {
    text-transform: uppercase;
    font-weight: 700;
  }

  &__banner {
    @include m.flex();
    border-radius: f.rem(35) f.rem(35) 0 0;
    position: relative;
    transition: background-color 200ms ease-in-out;
    height: 33%;
    width: 100%;
    background-color: var(--light-grey);
  }

  &__social-network {
    @include m.flex($justify: space-evenly, $direction: row);
    width: 70%;
    margin: f.rem(5) 0;
  }

  &__picture {
    @include m.flex();
    transition: filter 0.1s ease-in-out;

    height: 70%;
    aspect-ratio: 1/1;

    object-fit: cover;
    border-radius: 50%;
    @include m.hard-box-shadow();

    &.overlay--active {
      filter: blur(1px) brightness(0.8);
    }

    &__overlay {
      position: absolute;
      pointer-events: none;
      transition: opacity 0.2s ease-in-out;
      opacity: 0;
      height: 30%;

      &.overlay--active {
        opacity: 1;
      }
    }
  }

  &__description {
    margin: 0;
    font-size: f.rem(14);
    width: 75%;
    overflow: hidden;
    text-align: justify;
    word-wrap: break-word;
    flex-grow: 1;
    box-sizing: border-box;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: f.rem(12);

    height: f.rem(4);
    width: f.rem(40);
    border-radius: f.rem(2);

    background-color: var(--dark-blue);
  }

  &--middle {
    scale: 1;
    @include b.breakpoint(small) {
      scale: 0.8;
    }
  }

  &--hover {
    cursor: pointer;
  }

  &:hover {
    cursor: pointer;
  }

}
