@use "../abstracts/functions" as f;
@use "../abstracts/mixins" as m;

.card{
	@include m.flex();
	gap: f.rem(7);

	position: relative;
	width: f.rem(270);
	height: f.rem(400);
	background-color: var(--white);
	@include m.hard-box-shadow();

	padding-bottom: f.rem(25);
	border-radius: f.rem(35);
	overflow: hidden;

	&__profil{
		font-size: f.rem(24);
		text-align: center;
	}

	&__last-name{
		text-transform: uppercase;
		white-space: nowrap;
		font-weight: 700
	}

	&__banner{
		@include m.flex();
		width: 100%;
		background-color: var(--light-grey);
	}

	&__social-network{
		@include m.flex($justify: space-between, $direction: row);
		width: 55%;
		margin: f.rem(5) 0;
	}

	&__picture{
		width: f.rem(100);
		height: f.rem(100);
		margin: f.rem(20);

		border-radius: 100%;
		background-color: var(--white);
		@include m.hard-box-shadow();
	}
	
	&__description{
		padding: 0 f.rem(40);
		margin: 0;
		font-size: f.rem(14);
		height: 100%;
		overflow: hidden;
		text-align: justify;
	}

	&::after{
		content: '';
		position: absolute;
		bottom: f.rem(12);

		height: f.rem(4);
		width: f.rem(40);
		border-radius: f.rem(2);

		background-color: var(--dark-blue);
	}
}