@use "../abstracts/functions" as f;
@use "../abstracts/mixins" as m;

.eye {
  display: none;

  &__label {
    @include m.flex();
  }

  &__img {
    width: 30px;
    transition: filter 0.15s ease-in-out;

    &--close {
      display: block;
    }

    &--open {
      display: none;
    }

    &:hover{
      filter: invert(1);
      cursor: pointer;
    }
  }

  &:checked + &__label {
    .eye__img {
      &--close {
        display: none;
      }

      &--open {
        display: block;
      }
    }
  }
}
