@use "../abstracts/functions" as f;
@use "../abstracts/mixins" as m;

.eye {
  display: none;

  &__label {
    @include m.flex();
  }

  &__img {
    width: 25px;
    object-fit: contain;
    transition: all 0.15s ease-in-out;

    &--close {
      display: block;
      opacity: 0.15;

      &:hover{
        cursor: pointer;
        opacity: 1;
      }
    }

    &--open {
      display: none;

      &:hover{
        cursor: pointer;
        filter: invert(1);
      }
    }

  }

  &:checked + &__label {
    .eye__img {
      &--close {
        display: none;
      }

      &--open {
        display: block;
      }
    }
  }
}
