@use "../abstracts/functions" as f;
@use "../abstracts/mixins" as m;
@use "../abstracts/breakpoints" as b;

.link {
	box-sizing: border-box;
	border-radius: f.rem(40);
	padding: f.rem(10) f.rem(5);
	font-size: small;

	&-wrapper {
		@include m.flex(center, space-between, column);

		&--row {
			@include m.flex(center, normal, row);
			span{
				margin: 0 f.rem(10);
			}
			@include b.breakpoint(small) {
				@include m.flex($direction: column-reverse);
			}
		}
	}

	&--prefix {
		color: var(--grey);
	}

	&--main {
		color: var(--dark-blue);
	}

}