@use "../abstracts/breakpoints" as b;

.logo {
  position: absolute;
  left: 0;
  top: 0;

  height: 150%;
  max-width: 100%;
  aspect-ratio: 1/1;

  translate: -25% -40%;

  opacity: 0.05;
  user-select: none;
  pointer-events: none;

  @include b.breakpoint(header) {
    translate: 0;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: auto;
  }

}
