@use "../abstracts/functions" as f;
@use "../abstracts/mixins" as m;
@use "../abstracts/breakpoints" as b;

.popup {
  @include m.flex(center, center, row);
  position: fixed;
  top: 13vh;
  left: f.rem(20);
  z-index: 10;
  transform: translateX(-140%);

  padding: f.rem(10);
  gap: f.rem(10);
  border-radius: f.rem(5);
  transition: translate 0.8s ease-in-out;

  &--error {
    background: var(--light-red);
    border: var(--dark-red) 5px solid;
    border-width: 0 0 5px 0;
  }

  &--success {
    background: var(--light-green);
    border: var(--dark-green) 0px solid;
    border-width: 0 0 0 5px;
  }

  &--visible {
    left: f.rem(20);
    translate: 140% 0;

    @include b.breakpoint(small) {
      translate: 0 100%;
    }
  }

  &__close-button {
    width: f.rem(20);
    height: f.rem(20);

    &:hover {
      cursor: pointer;
    }
  }

  @include b.breakpoint(small) {
    transform: translateY(-100%);
    top: 0;
    left: 10%;
    right: 10%;
    border-width: 0 0 5px 0;

    flex-direction: column;
    border-radius: 0 0 f.rem(20) f.rem(20);
  }

}
