@use "../abstracts/mixins" as m;
@use "../abstracts/functions" as f;

.spinner{
	@include m.flex($direction: row);
	gap: inherit;

	&__container-date{
		@include m.flex($direction: row, $justify:space-between);
		white-space: nowrap;
		cursor: alias;
		width: f.rem(80);
	}

	&__dates{

		&--start{
			color: var(--dark-grey);
		}

		&--end{
			font-weight: 700;
		}
	}

	&__selector{
		width: min-content;
	}

	&__down,
	&__up{
		width:	f.rem(20);
		aspect-ratio: 1/1;
		cursor: pointer;
	}
}