@use "../abstracts/mixins" as m;
@use "../abstracts/functions" as f;
@use "../abstracts/breakpoints" as b;

.sponsor-description {
  @include m.flex(center, center, column);
  gap: f.rem(15);
  width: 70%;
  text-align: center;
}
