@use "../abstracts/mixins" as m;
@use "../abstracts/functions" as f;
@use "../abstracts/breakpoints" as b;

.sponsor__content {

  @include m.flex(center, center, row);
  width: 60%;

  &-link {
    flex-grow: 1;

    @include m.flex(center, center, column);
    gap: f.rem(20);
    width: 30%;

    &-date {

      flex-grow: 1;
      letter-spacing: f.rem(3);
      color: var(--dark-grey);
      font-weight: 300;
      text-align: center;

    }

    &-line {
      flex-grow: 1;
      width: 70%;
      border-top: 4px solid var(--dark-grey);
      box-sizing: border-box;
      height: 20px;
      position: relative;

      &:before {
        content: "";
        display: block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: var(--dark-grey);
        position: absolute;
        top: -7px;
        left: -5px;
      }

      &:after {
        content: "";
        display: block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: var(--dark-grey);
        position: absolute;
        top: -7px;
        right: -5px;
      }

    }

    &-icon {
      width: 26px;
      height: 26px;
      position: absolute;
      top: -15px;
      left: calc(50% - 13px);
    }

  }

}
