@use "../abstracts/functions" as f;
@use "../abstracts/mixins" as m;
@use "../abstracts/breakpoints" as b;

.title {
  @include m.flex();

  translate: 0 -50%;
  width: 90%;
  height: 20vh;

  @include b.breakpoint(header) {
    position: absolute;
    translate: 0 0;
    top: 28%;

    &__prefix {
      display: None;
    }
  }

  &__text {
    transition: all 0.3s ease;

    // due to the font is not monospaced, the letter-spacing is not the same
    padding-left: 15px;

    font-size: min(f.rem(75), 6vw);
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 15px;
    color: var(--medium-blue);

    &:hover {
      letter-spacing: 17px;
    }

    @include b.breakpoint(small) {
      color: var(--dark-blue);
      letter-spacing: 17px;
      font-size: 7vw;
    }
  }

  &__subtext {
    font-size: clamp(f.rem(10), 2vw, f.rem(20));
    font-weight: 400;
    letter-spacing: 2px;
    color: var(--medium-grey);
  }

}