@use "../abstracts/functions" as f;

.title {
	text-align: center;
	font-size: min(f.rem(70), 6vw);
	text-transform: uppercase;
	color: var(--dark-grey);
	font-weight: 400;
	letter-spacing: 15px;
	margin: 0;
}