<div class="error-block">

    <img class="error-block__background" src="{{ image('icons/triangle.svg') }}" alt="">

    <h1 class="error-block__title">{{ code }}</h1>

    <p class="error-block__message">{{ message }}</p>

</div>
