:root{
  --dark-blue: hsl(216, 48%, 14%);
  --light-grey: hsl(0, 0%, 94%);
  --grey: hsl(0, 0%, 85%);
  --dark-grey: hsl(0, 0%, 54%);
  --white: hsl(0, 0%, 100%);
  --light-red: hsl(0, 100%, 94%);
  --dark-red: hsl(0, 100%, 54%);
}