:root{
  --dark-blue: hsl(216, 48%, 14%);

  --light-grey: hsl(0, 0%, 94%);
  --medium-grey: hsl(0, 0%, 70%);
  --dark-grey: hsl(0, 0%, 54%);

  --white: hsl(0, 0%, 100%);

  --light-red: hsl(0, 100%, 94%);
  --medium-red: hsl(0, 100%, 70%);
  --dark-red: hsl(0, 100%, 54%);

  --light-yellow: hsl(48, 100%, 94%);
  --medium-yellow: hsl(48, 100%, 70%);
  --dark-yellow: hsl(48, 100%, 54%);

  --light-green: hsl(120, 100%, 94%);
  --medium-green: hsl(120, 48%, 58%);
  --dark-green: hsl(120, 56%, 44%);
}