@use "../abstracts/functions" as f;
@use "../abstracts/mixins" as m;
@use "../abstracts/breakpoints" as b;

body{
	@include m.flex($direction: column, $justify: space-between);

	margin: 0;

	width: 100vw;
	width: 100dvw;
	min-width: 350px;

	min-height: 100vh;
	min-height: 100dvh;

	box-sizing: border-box;

	font-family: 'lato', Helvetica, sans-serif;
	background-color: var(--white);
	color: var(--dark-blue);

	@include b.breakpoint(small){
		padding: f.rem(16) 0;
	}
}

main {
	flex-grow: 1;
	width: 100%;
	@include m.flex($direction: column, $justify: space-evenly);
}

select {
	background-color: inherit;
}