@use "../abstracts/functions" as f;
@use "../abstracts/mixins" as m;

body{
	@include m.flex($direction: column, $justify: space-between);

	margin: 0;
	padding: f.rem(16);

	width: 100vw;
	width: 100dvw;

	min-height: 100vh;
	min-height: 100dvh;

	box-sizing: border-box;

	font-family: 'lato', Helvetica, sans-serif;
	background-color: var(--white);
	color: var(--dark-blue);
}
main{
	flex-grow: 1;
	@include m.flex($direction: column, $justify: space-evenly);
}