@use "../abstracts/functions" as f;

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

h1,
h2,
h3 {
	font-weight: 700;
	line-height: 1.1;
	margin-top: 0;
}

a,
a:visited,
a:active {
	text-decoration: none;
	color: inherit ;
}

i{
	font-style: normal;
	color: var(--dark-grey);
	font-size: f.rem(10);
}