@use "../abstracts/functions" as f;

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url('/font/light-regular.woff2') format('woff2');

  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/font/lato-regular.woff2') format('woff2');
  
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/font/lato-bold.woff2') format('woff2');

  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

h1,
h2,
h3 {
  font-weight: 400;
  margin: 0;
}

h1 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: f.rem(1.5);
  text-align: center;
}

h2 {
  text-transform: uppercase;
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
  text-align: center;
  cursor: pointer;
}

i {
  font-style: normal;
  color: var(--dark-grey);
  font-size: f.rem(10);
}

p {
  margin: 0;
  font-weight: 300;
}
