{% extends 'layouts/base.html.twig' %}

{% set style = asset('styles/editSponsor.scss') %}
{% set title = 'Parraindex - Liens' %}

{% block javascripts %}
    {{  importmap(['common', 'popupInitialize', 'editSponsor']) }}
{% endblock %}

{% block content %}

    <form class="form" action="{{ url('sponsor_edit', {id: sponsor.id}) }}" method="post">

        <h1 class="form__title">Gestion de lien</h1>

        <div class="form-content">

            {% include 'components/sponsor.html.twig' with {
                'sponsor': sponsor,
            } %}

            {% include "components/form/select.html.twig" with {
                'slug': field_name(form.type),
                'title': 'Type de parrainage',
                'options': allTypes,
                'default': sponsor.type,
                'parent': '^[0-9]$'
            } %}

            {% include "components/form/input.html.twig" with {
                'type': 'date',
                'slug': field_name(form.date),
                'title': 'Date du parrainage',
                'value': sponsor.date | date('Y-m-d'),
                'pattern': '.+'
            } %}

            {% include "components/form/textarea.html.twig" with {
                'slug': field_name(form.description),
                'title': 'Description',
                'value': sponsor.description,
                'required': 'false'
            } %}

            <div class="form-block form-block--row">

                <a href="{{ url('sponsor_delete', {id: sponsor.id}) }}">
                    {% include "components/button.html.twig" with {
                        'type': 'button',
                        'button_content': 'Supprimer',
                        'priority': 'danger'
                    } %}
                </a>

                {% include "components/button.html.twig" with {
                    'type': 'submit',
                    'button_content': 'Valider',
                    'priority': 'primary'
                } %}

            </div>

        </div>

    </form>

{% endblock %}