{% extends 'layouts/base.html.twig' %}

{% set style = asset('styles/app.scss') %}
{% set title = 'Parraindex - Inscription' %}

{% block javascripts %}
    <script type="module" src="{{ asset('scripts/logoutConfirmation.js') }}" defer></script>
{% endblock %}

{% block content %}

    <div class="signup_confirm">
        <p>Vous avez bien été déconnecté</p>
        <a href="{{ url('home') }}">Cliquez ici si vous n'êtes pas automatiquement redirigé</a>
    </div>

{% endblock %}