{% extends 'layouts/base.html.twig' %}

{% set style = asset('styles/app.scss') %}
{% set title = 'Parraindex -  ' ~ person.firstName %}
{% set admin = admin ?? false %}

{% block javascripts %}
    <script src="{{ asset('scripts/person.js') }}" defer></script>
{% endblock %}

{% block content %}

    <div class="person-content">

        <div class="person-content__description">
            {% include 'components/person/family.html.twig' with {
                'person': person,
            } %}

            {% include 'components/person/description.html.twig' with {
                'person': person,
            } %}
        </div>

        {% include 'components/person/actions.html.twig' with {
            'person': person
        } %}

    </div>


{% endblock %}
