{% extends '/old/view/layouts/default.twig' %}

{% set style = style('reserpassword.css') %}
{% set title = 'Parraindex - Reset password' %}

{% block javascripts %}
    <script type="module" src="{{ script('resetPassword.js') }}" defer></script>
{% endblock %}

{% block content %}

    <form class="form" action="{{ router.url('resetpassword_post') }}" method="post">
        <h1 class="form__title">Réinitialisation du mot de passe</h1>
        <div class="form-content">
            {% include "components/form/input.twig" with {
                'type': 'email',
                'slug': 'email',
                'title': 'Email',
                'placeholder': 'john.doe@gmail.com',
                'pattern' : "^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$"
            } %}

            {% include "components/form/input.twig" with {
                'type': 'password',
                'slug': 'password',
                'title': 'Nouveau mot de passe',
                'placeholder': '••••••••••',
                'pattern': '.+',
            } %}

            {% include "components/button.twig" with {
                'type': 'submit',
                'button_content': 'Envoyer',
                'priority': 'primary'
            } %}
        </div>
    </form>
{% endblock %}