{% extends 'layouts/base.html.twig' %}

{% set style = asset('styles/app.scss') %}
{% set title = 'Parraindex - Inscription' %}

{% block javascripts %}
    <script type="module" src="{{ asset('scripts/signupConfirmation.js') }}" defer></script>
{% endblock %}

{% block content %}

    <div class="signup_confirm">
        <p>La demande de réinitialisation de votre mot de passe a été enregistrée et un mail vous a été envoyé avec un
            lien permettant de terminer ce changement.</p>
        <a href="{{ url('home') }}">Cliquez ici si vous n'êtes pas automatiquement redirigé</a>
    </div>

{% endblock %}