{% extends '/old/view/layouts/default.twig' %}

{% set style = style('signupConfirmation.css') %}
{% set title = 'Parraindex - Inscription' %}

{% block javascripts %}
    <script type="module" src="{{ script("signupConfirmation.js") }}" defer></script>
{% endblock %}

{% block content %}

    <div class="signup_confirm">
        <p>Votre inscription a été enregistrée et un mail vous a été envoyé avec un lien permettant de terminer la
            création de votre compte.</p>
        <a href="{{ router.url('home') }}">Cliquez ici si vous n'êtes pas automatiquement redirigé</a>
    </div>

{% endblock %}