<!DOCTYPE html>
<html lang="fr-FR" class="bg-white">

<head>
<<<<<<< develop:view/layouts/default.twig
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>
		{{title}}
	</title>
=======
    <meta charset="UTF-8">
    <title>{% block title %}Parraindex{% endblock %}</title>
    <link rel="shortcut icon" href="img/logo.png" type="image/x-icon">
    {% block stylesheets %}{% endblock %}
    {% block javascripts %}{% endblock %}
</head>
<body>
>>>>>>> add: shortcut icon:view/base.html.twig

<<<<<<< develop:view/layouts/default.twig
	<link rel="stylesheet" href="{{style}}"> 
=======
<header>
        <a>Se connecter</a>
        <a>S'inscrire</a>
</header>
>>>>>>> feat: home:view/base.html.twig

	{% block javascripts %}{% endblock %}
</head>

<body>
	{% include '/templates/header.twig' %}

	<main>
		{% block content %}{% endblock %}
	</main>

	{% include '/templates/footer.twig' %}
</body>

</html>