<!DOCTYPE html>
<html lang="fr-FR" class="bg-white">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>
		{{ title }}
	</title>
‹
	<meta charset="UTF-8">
	<link rel="shortcut icon" href="img/logo.png" type="image/x-icon">
	{% block stylesheets %}{% endblock %}
	{% block javascripts %}{% endblock %}
	<link rel="stylesheet" href="{{ style }}">
	{% block javascripts %}{% endblock %}
</head>

<body>

{% include '/templates/header.twig' %}

<main>
	{% block content %}{% endblock %}
</main>

{% include '/templates/footer.twig' %}
</body>

</html>