@use "../abstracts/functions" as f;

$breakpoints: (
        'small' : f.em(700),
        'medium' : f.em(900),
        'large' : f.em(1200),
);

@mixin breakpoint($size) {
  @media (max-width: map-get($breakpoints, $size)) {
    @content;
  }
}
