{% extends '/layouts/default.twig' %}

{% set style = style('about.css') %}
{% set title = 'A propos' %}


{% block content %}
	<h1>{{ title }}</h1>
	<div class="container-row">
		<img class="about_logo" src="{{ icon('logo-blue.svg') }}" alt="Logo">
		<div class="about_text">
			<p>
				Le Parraindex est un site web qui permet de trouver les parrains et les fillots de votre Université. A l'origine, il a été créé pour l'IUT informatique de l'Université Lyon 1, mais nous souhaitons l'étendre à d'autres Universités.
			</p>
			<p>
				Le Parraindex a pour but de recenser les liens de parrainage entre les étudiants, qui montrer des liens fort. Le fait de voir son "arbre généalogique" permet de se rendre compte de la proximité des étudiants, et de la qualité des liens de parrainage. Et procure égallement une certaine satisfaction de visualiser son arbre généalogique, faire partir du "famille" apporte un sentiment d'appartenance et facilite la socialisation.
			</p>
			<p>
				Le Parraindex est un projet étudiant, réalisé par 4 étudiants de l'IUT informatique de l'Université Lyon 1. Nous avons réalisé ce site web dans le cadre d'un projet d'étude, et nous avons choisi de le rendre public afin de le partager avec le plus grand nombre.
			</p>
		</div>
	</div>
	<div class="container-row about_autor">
		{% include 'components/aboutcard.twig' with {
			'firstName': 'Lilian',
			'lastName': 'Baudry',
			'picture': 'lilian.jpg',
		}
		%}
		{% include 'components/aboutcard.twig' with {
			'firstName': 'Vincent',
			'lastName': 'Chavot',
			'picture': 'vincent.jpg',
		}
		%}
		{% include 'components/aboutcard.twig' with {
			'firstName': 'Melvyn',
			'lastName': 'Delpree',
			'picture': 'melvyn.jpg',
		}
		%}
		{% include 'components/aboutcard.twig' with {
			'firstName': 'Luka',
			'lastName': 'Maret',
			'picture': 'Luka.jpg'
		}
		%}


	</div>


{% endblock %}