<!DOCTYPE html>
<html lang="fr-FR" class="bg-white">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Parraindex{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    {% block javascripts %}{% endblock %}
</head>
<body>

<header>
</header>

<main>
    {% block body %}{% endblock %}
</main>

<footer>
</footer>

</body>
</html>
