{% extends '/layouts/default.twig' %}

{% set style = style('contact.css') %}
{% set title = 'Parraindex - Contact' %}

{% block javascripts %}
	<script src="{{ script("contact.js") }}" defer></script>
{% endblock %}

{% block content %}


	<form class="form" action="{{ router.url('contact_post') }}" method="post">

		<h1 class="form__title">Formulaire de contact</h1>

		<div class="form-content">

			<div class="form-block form-block--row">

				{% include "components/form/input.twig" with {
					'type': 'text',
					'slug': 'name',
					'title': 'Nom',
					'placeholder': 'John Doe'
				} %}

				{% include "components/form/select.twig" with {
					'slug': 'type',
					'title': 'Objet du message',
					'options': options
				} %}

			</div>

			{% include "components/form/input.twig" with {
				'type': 'email',
				'slug': 'email',
				'title': 'Email',
				'placeholder': 'john.doe@gmail.com'
			} %}

			{% include "components/form/textarea.twig" with {
				'slug': 'description',
				'title': 'Message',
				'placeholder': 'Il y a une erreur sur la page ...'
			} %}

			{% include "components/button.twig" with {
				'type': 'submit',
				'button_content': 'Envoyer',
				'priority': 'primary'
			} %}

		</div>

	</form>

	{% include "components/error-popup.twig" with {
		'message': error
	} %}

{% endblock %}