{% extends '/layouts/default.twig' %}

{% set style = style('contact.css') %}
{% set title = 'Parraindex - Contact' %}

{% block javascripts %}
	<script type="module" src="{{ script("contact.js") }}" defer></script>
{% endblock %}

{% block content %}

	<form class="form" action="{{ router.url('contact_post') }}" method="post">

		<h1 class="form__title">Formulaire de contact</h1>

		<div class="form-content">

			{% include "components/form/select.twig" with {
				'slug': 'type',
				'title': 'Objet du message',
				'options': options,
				'parent': '.+'
			} %}

			<div class="form-block form-block--row">

				{% include "components/form/input.twig" with {
					'type': 'text',
					'slug': 'firstname',
					'title': 'Prenom',
					'placeholder': 'John',
					'pattern': '.+',
				} %}

				{% include "components/form/input.twig" with {
					'type': 'text',
					'slug': 'lastname',
					'title': 'Nom',
					'placeholder': 'Doe',
					'pattern': '.+',
				} %}

			</div>

			{% include "components/form/input.twig" with {
				'type': 'email',
				'slug': 'email',
				'title': 'Email',
				'placeholder': 'john.doe@gmail.com',
				'pattern' : "^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$"
			} %}

			{% include "components/form/textarea.twig" with {
				'slug': 'description',
				'title': 'Message',
				'placeholder': 'Il y a une erreur sur la page ...',
				'pattern': '.+',
			} %}

			{% include "components/button.twig" with {
				'type': 'submit',
				'button_content': 'Envoyer',
				'priority': 'primary'
			} %}

		</div>

	</form>

{% endblock %}