{% extends '/layouts/default.twig' %}

{% set style = style('home.css') %}
{% set title = 'Parraindex' %}

{% block content %}

    <img class="logo" src="{{ icon('logo-blue.svg') }}" alt="Logo">

    <a href="{{ router.url('tree') }}">
        <h1 class="title">Le Parraindex</h1>
    </a>
    
    {% include '/templates/navbar.twig' %}

{% endblock %}
