{% extends 'base.html.twig' %}

{% block stylesheets%} 
	<link rel="stylesheet" href="{{style('home.css')}}"> 
{% endblock %}

{% block title %}Parraindex - Accueil{% endblock %}

{% block body %}

	<h1>Accueil</h1>

{% endblock %}
