{% extends '/layouts/default.twig' %}

{% set style = style('home.css') %}
{% set title = 'Le Parraindex' %}

{% block content %}


    <h1 class="title">{{ title }}</h1>

    {% include '/templates/navbar.twig' %}

{% endblock %}
