{% extends '/layouts/default.twig' %}

{% set style = style('legalNotice.css') %}
{% set title = 'Parraindex - Mentions légales' %}


{% block content %}

    <h1 class="about__title">Mentions légales</h1>

    <div class="legalNotice__description-text">

        <div class="legalNotice__description-text--wrapper">

            <div>
                <h2>Éditeur du site</h2>
                <ul>
                    <li><span class="legalNotice__description-title">Directeur de la publication :</span> Luka Maret
                    </li>
                    <li><span class="legalNotice__description-title">Adresse :</span> 6 rue de l'Espoir, 69100
                        Villeurbanne
                    </li>
                    <li><span class="legalNotice__description-title">Téléphone :</span> 07 82 39 06 95</li>
                    <li><span class="legalNotice__description-title">Courriel :</span> contact@parraindex.org</li>
                    <li><span class="legalNotice__description-title">Collaborateurs :</span> Lilian Baudry, Melvyn
                        Delpree, Vincent Chavot-Dambrun
                    </li>
                </ul>
            </div>

            <div>
                <h2>Hébergement du site</h2>
                <ul>
                    <li><span class="legalNotice__description-title">Société :</span> BE1HOST</li>
                    <li><span class="legalNotice__description-title">Adresse :</span> 14 rue Charles-V 75004 Paris</li>
                    <li><span class="legalNotice__description-title">Téléphone :</span> 09 72 54 63 63</li>
                    <li><span class="legalNotice__description-title">Courriel :</span> jordan@inovaperf.fr</li>
                    <li><span class="legalNotice__description-title">Numéro SIRET :</span> 80142522400020</li>
                </ul>
            </div>

        </div>

        <h2>Propriété intellectuelle</h2>
        <p>
            Le contenu de ce site, incluant les textes, images, sons et vidéos sont la propriété de Luka Maret,
            Lilian Baudry, Melvyn Delpree et Vincent Chavot-Dambrun ou de tiers ayant autorisé Luka Maret,
            Lilian Baudry, Melvyn Delpree ou Vincent Chavot-Dambrun à les utiliser. Toute reproduction,
            représentation, utilisation ou adaptation, sous quelque forme que ce soit, de tout ou partie de ce site,
            sans l'autorisation expresse de Luka Maret, Lilian Baudry, Melvyn Delpree ou Vincent Chavot-Dambrun
            est strictement interdite et constituerait une contrefaçon.
        </p>

        <h2>Protection des données personnelles</h2>
        <p>
            Vos données personnelles recueillies sur ce site sont utilisées dans le respect de la loi "Informatique
            et libertés" du 6 janvier 1978 modifiée. Vous disposez d'un droit d'accès, de modification, de
            rectification et de suppression des données vous concernant. Pour exercer ce droit, vous pouvez nous
            contacter à l'adresse suivante : contact@parraindex.com.
        </p>

        <h2>Liens hypertextes</h2>
        <p>
            Le site parraindex.com peut inclure des liens vers d'autres sites internet. Ces sites internet ne sont
            pas sous le contrôle de Luka Maret, Lilian Baudry, Melvyn Delpree ou Vincent Chavot-Dambrun qui
            décline toute responsabilité quant au contenu de ces sites.
        </p>

        <h2>Responsabilité</h2>
        <p>
            L'utilisation du site parraindex.com se fait sous votre seule et entière responsabilité.
            Luka Maret, Lilian Baudry, Melvyn Delpree ou Vincent Chavot-Dambrun ne pourra en aucun cas être
            tenue responsable des dommages de quelque nature que ce soit, résultant de l'utilisation de ce site.
        </p>
    </div>


{% endblock %}
