{% extends '/layouts/default.twig' %}

{% set style = style('legalNotice.css') %}
{% set title = 'Parraindex - Mentions légales' %}


{% block content %}

<div class="legal-notice">

    <h1 class="legal-notice__title">
        Mentions légales
    </h1>

    <div class="legal-notice__header">
        <article>
            <h2>Éditeur du site</h2>
            <pre>6 rue de l'Espoir, 69100 <br>Villeurbanne</pre>
            <ul>
                <li>
                    <strong>Directeur de la publication :</strong>
                    Luka Maret
                </li>
                <li>
                    <strong>Téléphone :</strong>
                    <a href="tel:0782390695">07 82 39 06 95</a>
                </li>

                <li>
                    <strong>Courriel :</strong>
                    <a href="mailto:contact@parraindex.com">contact@parraindex.com</a>
                </li>
                <li>
                    <strong>Collaborateurs :</strong> 

                    <ul>
                        <li>Luka MARET</li>
                        <li>Lilian BAUDRY</li>
                        <li>Melvyn DELPREE</li>
                        <li>Vincent CHAVOT-DAMBRUN</li>
                    </ul>
                </li>
            </ul>
        </article>

        <article>
            <h2>Hébergement du site</h2>
            <pre>14 rue Charles-V, 75004<br>Paris</pre>
            <ul>
                <li>
                    <strong>Société :</strong> 
                    BE1HOST
                </li>
                <li>
                    <strong>Téléphone :</strong>
                    <a href="tel:09 72 54 63 63">09 72 54 63 63</a>
                    
                </li>
                <li>
                    <strong>Courriel :</strong>
                    <a href="mailto:jordan@inovaperf.fr">jordan@inovaperf.fr</a>
                </li>
                <li>
                    <strong>Numéro SIRET :</strong>
                    80142522400020
                </li>
            </ul>
        </article>
    </div>

    <div class="legal-notice__content">

        <article>
            <h2>Propriété intellectuelle</h2>
            <hr>
            <p>
                Le contenu de ce site, y compris les textes, images, sons et vidéos, est protégé par les lois relatives à la propriété intellectuelle et est la propriété exclusive des propriétaires de ce site.
                Il est interdit de reproduire, représenter, utiliser ou adapter, sous quelque forme que ce soit, tout ou partie de ce site sans une autorisation expresse. 
                Toute violation de ces droits de propriété intellectuelle sera considérée comme une contrefaçon.
            </p>
        </article>

        <article>
            <h2>Protection des données personnelles</h2>
            <hr>
            <p>
                Les informations personnelles que vous renseignez sur ce site sont traitées conformément au Règlement Général sur
                la Protection des Données (RGPD) et à la loi "Informatique et Libertés" du 6 janvier 1978. Vous avez le droit 
                d'accéder, de rectifier, de mettre à jour, de supprimer ou de limiter l'utilisation de vos données personnelles.
                Pour exercer ces droits, veuillez nous contacter à l'adresse :
                <strong>
                    <a href="mailto:contact@parraindex.com">contact@parraindex.com</a>
                </strong>
            </p>
        </article>

        <article>
            <h2>Liens hypertextes</h2>
            <hr>
            <p>
               Le site parraindex.com peut inclure des liens vers d'autres sites internet. Ces sites internet ne sont pas sous notre contrôle et nous déclinons toute responsabilité quant à leur contenu ou à toute utilisation qui pourrait en être faite. Il est de votre responsabilité de prendre connaissance et de respecter les politiques de confidentialité et les conditions d'utilisation de ces sites tiers avant de fournir toute information personnelle ou de vous engager dans toute activité sur ces sites. Nous vous recommandons également de vérifier la légalité des contenus des sites liés avant de les consulter.
            </p>
        </article>

        <article>
            <h2>Responsabilité</h2>
            <hr>
            <p>
                En utilisant notre site web parraindex.com, vous reconnaissez que vous êtes seul responsable des risques liés à son utilisation.
                Les propriétaires de ce site ne peuvent pas être tenus responsables des dommages de quelque nature que ce soit, découlant de l'utilisation de ce site ou de l'utilisation de toute information ou service disponible sur ce site.
                Il est important de prendre les précautions nécessaires pour protéger vous-même et vos données contre tout dommage potentiel.
            </p>
        </article>
    </div>
</div>

{% endblock %}
