{% extends '/layouts/default.twig' %}

{% set style = style('home.css') %}
{% set title = 'Parraindex.login' %}



{% block content %}

    <h1>{{title}}</h1>
    <form action = "/login" method="post">
        <label>login</label>
        <div class="formLogin-group">
            <label for="form-id">Email</label>
            <input type="text" id="form-id" placeholder="login" name="login">
        </div>
        <div class="formLogin-group">
            <label for="password">Password</label>
            <input type="password" id="password" placeholder="Password" name="login-pwd">
        </div>
        <input type="submit" class="form-btn" value="Submit">
    </form>
    <a href="/signup">
        <input type="submit" class="form-btn" id="signUp-btn" value="Sign up">
    </a>

    <script src="{{script('login.js')}}" defer></script>

{% endblock %}