{% extends '/layouts/default.twig' %}

{% set style = style('login.css') %}
{% set title = 'Parraindex.login' %}

{% block javascripts %}
	<script src="{{ script('login.js') }}" defer></script>
{% endblock %}

{% block content %}

	{% if error %}

		<div class="error" style="background-color: red; margin: 40px 0">
			<h2>Erreur</h2>
			{{ error }}
		</div>

	{% endif %}

	<form class="form" action="{{ router.url("login_post") }}" method="post">
		<h1 class="form__title">Connexion</h1>
		<div class="form-content">
			{% include "components/form/input.twig" with {
				'type': 'email',
				'slug': 'login',
				'title': 'Email universitaire',
				'placeholder': 'john.doe@etu.univ-lyon1.fr',
				'pattern' : "^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$"
			} %}

			{% include "components/form/input.twig" with {
				'type': 'password',
				'slug': 'password',
				'title': 'Mot de passe',
				'placeholder': 'Mot de passe',
			} %}
			<div class="form-block form-block--row form-block--space-around">
				{% include "components/button.twig" with {
					'type': 'submit',
					'button_content': 'Envoyer',
					'priority': 'primary',
					'name': 'action',
					'value': 'login'
				} %}
				<a href="{{ router.url("signup_get") }}"> Je n'ai pas encore de compte </a>
			</div>
		</div>
	</form>

{% endblock %}