{% extends '/layouts/default.twig' %}

{% set style = style('login.css') %}
{% set title = 'Parraindex.login' %}



{% block content %}

    <h1>{{title}}</h1>
    <form>
        <label>login</label>
        <div class="formLogin-group">
            <label for="id">Email</label>
            <input type="text" id="form-id" placeholder="login" name="login">
        </div>
        <div class="formLogin-group">
            <label for="password">Password</label>
            <input type="password" id="password" placeholder="Password" name="login-pwd">
        </div>
        <button type="submit" class="form-btn">Submit</button>
    </form>
    <a href="signup">
        <input type="submit" class="form-btn" id="signUp-btn" value="Sign up">
    </a>

    <script src="{{script('login.js')}}"></script>

{% endblock %}