{% extends '/layouts/default.twig' %}

{% set style = style('signupValidation.css') %}
{% set title = 'Parraindex - Inscription' %}

{% block javascripts %}
{% endblock %}

{% block content %}

    {% if error is empty %}
        <div class="signup_confirm">
            <p>La réinitialisation de votre mot de passe a bien été effectuée. Vous pouvez dès à présent <a
                        href="{{ router.url('login_get') }}">vous
                    connecter</a>.</p>
        </div>
    {% else %}
        <div class="signup_confirm">
            <p>Une erreur est survenue lors de la réinitialisation de votre mot de passe. Veuillez réessayer.</p>
        </div>
    {% endif %}

{% endblock %}