{% extends '/layouts/default.twig' %}

{% set style = style('home.css') %}
{% set title = 'Parraindex.signUp' %}

{% block content %}

	{% if error %}

		<div class="error" style="background-color: red; margin: 40px 0">
			<h2>Erreur</h2>
			{{ error }}
		</div>

	{% endif %}

	<form class="form" action="{{ router.url('signup_post') }}" method="post">
		<h1 class="form__title">Inscription</h1>

		<div class="form-content">

			<div class="form-block form-block--row">

				{% include "components/form/input.twig" with {
					'type': 'text',
					'slug': 'firstname',
					'title': 'Prénom',
					'placeholder': 'John'
				} %}

				{% include "components/form/input.twig" with {
					'type': 'text',
					'slug': 'lastname',
					'title': 'Nom',
					'placeholder': 'Doe'
				} %}

			</div>
			{% include "components/form/input.twig" with {
				'type': 'email',
				'slug': 'email',
				'title': 'Email universitaire',
				'placeholder': 'john.doe@etu.univ-lyon1.fr',
				'pattern' : "^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$"
			} %}

			{% include "components/form/input.twig" with {
				'type': 'password',
				'slug': 'password',
				'title': 'Mot de passe',
				'placeholder': '••••••••••'
			} %}

			{% include "components/form/input.twig" with {
				'type': 'password',
				'slug': 'password-confirm',
				'title': 'Répétez le mot de passe',
				'placeholder': '••••••••••'
			} %}

			<div class="form-block form-block--row form-block--space-around">
				{% include "components/link.twig" with{
					'option': 'link-wrapper',
					'prefix': "Vous avez déjà un compte ?",
					'title': 'Connectez-vous',
					'href': router.url('login_get')
					} %}
				{% include "components/button.twig" with {
					'type': 'submit',
					'button_content': 'Envoyer',
					'priority': 'primary',
					'name': 'action',
					'value': 'register'
				} %}
			</div>
		</div>
	</form>

{% endblock %}