{% extends '/layouts/default.twig' %}

{% set style = style('home.css') %}
{% set title = 'Parraindex.signUp' %}

{% block content %}

    <h1>Inscription</h1>

    {% if error %}

        <div class="error" style="background-color: red; margin: 40px 0">
            <h2>Erreur</h2>
            {{ error }}
        </div>

    {% endif %}

    <form action="{{ router.url("signup_post") }}" method="post">

        <div class="formSignUp-group">
            <label for="email">Email</label>
            <input type="email" id="email" placeholder="Student Email" name="email">
        </div>

        <div class="formSignUp-group">
            <label for="name">Nom</label>
            <input type="text" id="name" placeholder="Name" name="lastname">
        </div>

        <div class="formSignUp-group">
            <label for="firstname">Prénom</label>
            <input type="text" id="firstname" placeholder="Firstname" name="firstname">
        </div>

        <div class="formSignUp-group">
            <label for="password">Password</label>
            <input type="password" id="password" placeholder="Password" name="password">
            <label for="password-confirm">Confirm Password</label>
            <input type="password" id="password-confirm" placeholder="Password" name="password-confirm">
        </div>

        <input type="submit" class="form-btn" value="Submit">

    </form>

    <a href="{{ router.url("login_get") }}">
        <input type="submit" class="form-btn" id="login-btn" value="Already have an account ?">
    </a>

{% endblock %}