{% extends '/layouts/default.twig' %}

{% set style = style('home.css') %}
{% set title = 'Parraindex.signUp' %}

{% block content %}

    <h1>{{title}}</h1>
    <form>
        <label>Sign UP</label>
        <div class="formSignUp-group">
            <label for="email">Email</label>
            <input type="email" id="email" placeholder="Student Email" name="mail">
        </div>
        <div class="formSignUp-group">
            <label for="pwd">Password</label>
            <input type="password" id="pwd" placeholder="Password" name="signup-pwd">
            <label for="pwd-confirm">Confirm Password</label>
            <input type="password" id="pwd-confirm" placeholder="Password" name="signup-pwd-confirm">
        </div>
        <a href="../infrastructures/database/accountSignUp.php">
            <input type="submit" class="form-btn" value="Submit">
        </a>
    </form>

    <a href="/login">
        <input type="submit" class="form-btn" id="login-btn" value="Already have an account ?">
    </a>

{% endblock %}